.employer__form {
    margin: 5rem auto;
    border-radius: 15px;
    padding: 2rem;
    width: 100%;
    background-color: var(--secondary__background__color);
    box-shadow: 1px 4px 22px -11px rgba(0, 0, 0, 0.7);
    overflow: hidden;
    animation-name: extend;
    animation-timing-function: ease-in;
    animation-duration: 2s;
}

@keyframes extend {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

.employer__fields {
    transition-duration: 2s;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    margin: auto;
}

.employer__fields>div {
    display: grid;
    grid-template-columns: 1fr;
}

.employer__fields>div>label {
    font-weight: 200;
    font-size: 1.2rem;
    color: var(--secondary__accent);
    margin: 0px 0px 10px 15px;
}

.employer__fields>div>input,
.employer__fields>div>textarea,
.employer__fields>div>select {
    resize: vertical;
    border-radius: 10px;
    box-shadow: 1px 4px 22px -11px rgba(0, 0, 0, 0.3);
    padding: 15px 20px;
    align-items: center;
    background: var(--main__background__light);
    color: var(--text__dark);
}


.employer__fields>div>select {
    cursor: pointer;
}

.form__progressbar {
    margin: 1.3rem auto;
}

.progressbar__btn {
    display: grid;
    gap: 1rem;
    width: 100%;
    margin: 1.3rem auto;
}

.fields__progressbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    height: 1vh;
}

.active__step {
    background-color: var(--main__accents__color);
    transition-duration: 2s;
    border-radius: 20px;
}

.fields__step {
    border-radius: 20px;
    display: inline-block;
    width: 100%;
    background-color: var(--inactive);
}

.employer__skills__items {
    display: grid;
    gap: 10px;
    width: 100%;
    margin: 10px auto;
    padding: 10px 20px;
}

.employer__skills__items>span {
    text-align: center;
    font-size: 0.9rem;
    color: var(--secondary__accent);
}

.employer__skills__items>ul {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    cursor: pointer;
}

.employer__skills__items>ul>li {
    margin: 10px 20px;
    font-weight: 800;
    font-size: 1.2rem;
    background-color: var(--main__accents__color);
    color: var(--text__light);
    padding: 10px 20px;
    border-radius: 5px;

}

.employer__error{
    position: fixed;
    top: 0;
    left: 0;
}

@media screen and (min-width: 600px) {

    .form__progressbar {
        width: 60%;
    }


    .employer__skills__items>ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 780px) {

    .form__progressbar {
        width: 60%;
        margin: 1.3rem auto;
        padding: 20px;

    }


    .employer__skills__items>ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}