.job__card {
  color: var(--graphite-dark);
  position: relative;
  cursor: pointer;
  background-color: var(--secondary__background__color);
  margin: 4rem auto;
  border-radius: 5px;
  border: none;
  padding: 3rem 1.5rem;
  box-shadow: 4px 10px 40px -32px rgba(66, 68, 90, 1);
}

.job__card:hover {
  transition-duration: 0.5s;
  border-left: 10px solid var(--main__accents__color);
}

.job__section {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}



.job__img {
  display: inline-block;
  position: absolute;
  top: calc(-2.5rem);
  left: 2rem;
  width: 4.5rem;
  height: 4.5rem;
  background-position: center;
  background-size: cover;
}

.job__company {
  font-size: 1.6rem;
  width: 100%;
  font-weight: 800;
  color: var(--main__accents__color);
  margin: 10px 0 20px 0;
}



.job__new,
.job__featured {
  font-size: 0.8rem;
  color: var(--text__light);
  margin: 0 1rem 0 1rem;
  padding: 5px 10px;
  border-radius: 25px;
  font-weight: bold;
  text-transform: uppercase
}

.job__new{
  background-color: var(--main__accents__color);
}
.job__featured{
  background-color: var(--main__background__dark);
}

.job__context {
  display: flex;
  flex-direction: column;
  text-align: left;
  border-bottom: 1px solid var(--main__background__dark);
  color: var(--text__dark);
}

.job__position {
  font-size: 1.2rem;
  margin: 1rem 0;
  width: 100%;
}

.job__details{
  font-weight: 800;
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  margin: 1rem 0;
  width: 100%;
  padding: 0;
  list-style-type: none;
}

.job__details> li:first-child{
  padding: 0.6rem;
}

.job__contract,
.job__location {
  list-style-type:disc;
  margin-left: 2rem;
  padding: 0.6rem;
}

.job__requirements {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 15px;
}

.job__requirements > li {
  margin: 0.5rem;
  font-size: 1.2rem;
  background-color: var(--main__accents__color);
  color: var(--text__light);
  font-weight: 200;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}


@media screen and (min-width: 1024px) {
  .job__card{
    display: grid;
    grid-template-columns: 2fr 3fr;
  }

  .job__context{
    border-bottom: none;
  }

  .job__requirements{
    margin: auto;
  }
}