header {
  position: relative;
  min-height: 15vh;
  overflow: hidden;
  margin-bottom: 30px;

}

.container {
  padding: 0 1rem;
  margin: auto;
}

.header__nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.nav_link{
  text-align: center;
  color: var(--text__light);
  background-color: var(--main__accents__color);
  font-weight: 800;
  font-size: 0.8rem;
  padding: 15px;
  border-radius: 25px;
}

.header__title{
  position: relative;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  color: var(--main__accents__color);
  font-weight: 800;
  z-index: 5;
  width: 10rem;
  border-radius: 0% 0% 73% 70% / 59% 59% 100% 100% ;
  background-image: var(--main__background__light);
  box-shadow: inset 9px 5px 66px -41px rgba(66, 68, 90, 0.4);
}

.header__title > span:first-child {
  font-size: 2.6rem;
  margin: auto;
}
.header__title > span:last-child {
  font-size: 1.6rem;
  font-weight: 200;
  margin: auto;
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 80%;
  }
}