.search-section {
  position: relative;
  background-color: none;
  top: -15px;
  min-height: 5vh;
  height: 0px;
  margin-bottom: 60px;
  cursor: pointer;
}

.enabled {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  margin: auto;
  z-index: 20;
  background-color: rgba(255, 255, 255, 0.9);
  transition-duration: 0.8s;
  transition-timing-function: ease-in-out;
}

.enabled > .search-component {
  width: 80%;
  margin: 10px auto;
}

.enabled-search-items {
  grid-template-columns: 10fr 1fr 1fr;
}
.disabled-search-items {
  grid-template-columns: 10fr 1fr;
}

.search-items {
  padding: 10px;
  margin: auto;
  min-height: 5vh;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 4px 22px -11px rgba(0, 0, 0, 0.7);
  display: grid;
  align-items: center;
  gap: 10px;
}

.search-items > ul {
  display: flex;
  flex-wrap: wrap;
}

.search-items > ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1% 1%;
  background-color: var(--bg-accents);
  border-radius: 5px;
  padding: 0px 0px 0px 2px;
}

.search-items > ul > li > span {
  margin: 0 10px;
}

.search-items > ul > li button {
  display: flex;
  justify-items: center;
  align-items: center;
  color: var(--main-accents);
  background-color: var(--light-gray);
  border-radius: 0 5px 5px 0;
  padding: 5px;
  cursor: pointer;
}

.search-items > button {
  text-align: center;
  cursor: pointer;
  color: var(--main-accents);
  font-weight: 200;
  font-size: 0.8rem;
  height: 100%;
}

.search-filters {
  margin: auto;
  background-color: white;
  width: 80%;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 1px 4px 22px -11px rgba(0, 0, 0, 0.7);
}

.search-filters > div > ul > li {
    display: inline-block;
  }
  