@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,700&display=swap');

:root {
  font-size: 15px;
  --graphite-dark: hsl(180, 14%, 20%);
  --main-accents: hsl(180, 29%, 50%);
  --bg-accents:  	hsl(170, 54%, 87%);
  --bg-light: hsl(0, 0%, 97%);
  --background: hsl(180, 52%, 96%);
  --bg-dark: hsl(180, 8%, 62%);
  --light-gray: 		hsla(228, 6%, 65%, 0.432);
}

body {
  box-sizing: border-box;
  background-color: var(--background);
  margin: 0;
  font-family: 'Roboto', sans-serif;

}

/* SCROLLBAR STYLES */

/* width */
::-webkit-scrollbar {
  width: 10px;

}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bg-accents);
} 

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--light-gray);
  border-radius: 10px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}