@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,700&display=swap');



:root {
  font-size: 16px;  
  --main__background__color: #FFFFFF;
  --secondary__background__color: #f3f8fa;
  --main__accents__color: #8D9EFF;
  --main__background__light: #c2cbff;
  --main__background__dark: #495464;
  --inactive: #acc9ff;
  --text__light: #FFF;
  --text__dark: #495464;
  --secondary__accent: #6d7fe4;
  --info: #6d7fe4;
  --success: #16C79A;
  --error: #E0144C;
  --graphite-dark: #2c3a3a;
}

.dark {
  --main__background__color: #624f82;
  --secondary__background__color: #3f3b6c;
  --text__dark: #fff;
}

.light {
  --main__background__color: #ffffff;
  --secondary__background__color: #f3f8fa;
  --text__dark: #495464;
}

body {
  background-color: var(--main__background__color);
  color: var(--text__dark);
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

/* SCROLLBAR STYLES */

/* width */
::-webkit-scrollbar {
  width: 10px;

}

/* Track */
::-webkit-scrollbar-track {
  background: var(--secondary__background__color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main__accents__color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}